In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

In [2]:
# pgAdmnin interface

In [3]:
# Pull in Data
df = pd.read_csv('Data/salmon_preprocessed.csv')
df.head()

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Wild_Spawners,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr,Wild_Spawners_Prev_Yr,Spawners_Two_Yrs_Prior,Eff_Catch_Two_Yrs_Prior,Fracwild_Two_Yrs_Prior,Wild_Spawners_Two_Yrs_Prior
0,1977,Chinook Salmon (Snake River Fall-run ESU) - Sn...,600.0,1975.0,2008.0,1097.0,1.0,600.0,470.0,617.0,1.0,470.0,1000.0,1.0,1851.0,1000.0
1,1978,Chinook Salmon (Snake River Fall-run ESU) - Sn...,640.0,1975.0,2008.0,1011.0,1.0,640.0,600.0,1097.0,1.0,600.0,470.0,1.0,617.0,470.0
2,1979,Chinook Salmon (Snake River Fall-run ESU) - Sn...,500.0,1975.0,2008.0,514.0,1.0,500.0,640.0,1011.0,1.0,640.0,600.0,1.0,1097.0,600.0
3,1980,Chinook Salmon (Snake River Fall-run ESU) - Sn...,450.0,1975.0,2008.0,159.0,1.0,450.0,500.0,514.0,1.0,500.0,640.0,1.0,1011.0,640.0
4,1981,Chinook Salmon (Snake River Fall-run ESU) - Sn...,340.0,1975.0,2008.0,150.0,1.0,340.0,450.0,159.0,1.0,450.0,500.0,1.0,514.0,500.0

In [4]:
# Isolate the Stream we want to teach the model on and reset index
target_df = df.loc[df['Nwr_Population_Name'] == 'Chinook Salmon (Puget Sound ESU) - Upper Sauk River']
target_df.reset_index(drop=True, inplace=True)
target_df.head()

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Wild_Spawners,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr,Wild_Spawners_Prev_Yr,Spawners_Two_Yrs_Prior,Eff_Catch_Two_Yrs_Prior,Fracwild_Two_Yrs_Prior,Wild_Spawners_Two_Yrs_Prior
0,1954,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,649.0,NaN,NaN,3999.0,1.0,649.0,269.0,77.0,0.96,258.24,273.0,0.99,208.0,270.27
1,1955,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,844.0,NaN,NaN,4828.0,1.0,844.0,649.0,3999.0,1.00,649.00,269.0,0.96,77.0,258.24
2,1956,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1884.0,NaN,NaN,12920.0,1.0,1884.0,844.0,4828.0,1.00,844.00,649.0,1.00,3999.0,649.00
3,1957,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,2523.0,NaN,NaN,14630.0,1.0,2523.0,1884.0,12920.0,1.00,1884.00,844.0,1.00,4828.0,844.00
4,1958,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,636.0,NaN,NaN,2968.0,1.0,636.0,2523.0,14630.0,1.00,2523.00,1884.0,1.00,12920.0,1884.00

In [5]:
# Delete first two rows and reset index
target_df = target_df.drop(target_df.index[[0,1]])
target_df.reset_index(drop=True, inplace=True)
target_df

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Wild_Spawners,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr,Wild_Spawners_Prev_Yr,Spawners_Two_Yrs_Prior,Eff_Catch_Two_Yrs_Prior,Fracwild_Two_Yrs_Prior,Wild_Spawners_Two_Yrs_Prior
0,1956,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1884.0,NaN,NaN,12920.0,1.00,1884.00,844.0,4828.0,1.00,844.00,649.0,1.00,3999.0,649.00
1,1957,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,2523.0,NaN,NaN,14630.0,1.00,2523.00,1884.0,12920.0,1.00,1884.00,844.0,1.00,4828.0,844.00
2,1958,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,636.0,NaN,NaN,2968.0,1.00,636.00,2523.0,14630.0,1.00,2523.00,1884.0,1.00,12920.0,1884.00
3,1959,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,740.0,NaN,NaN,5119.0,1.00,740.00,636.0,2968.0,1.00,636.00,2523.0,1.00,14630.0,2523.00
4,1960,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,3345.0,NaN,NaN,21627.0,1.00,3345.00,740.0,5119.0,1.00,740.00,636.0,1.00,2968.0,636.00
5,1961,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,3302.0,NaN,NaN,17777.0,1.00,3302.00,3345.0,21627.0,1.00,3345.00,740.0,1.00,5119.0,740.00
6,1962,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1643.0,NaN,NaN,11366.0,1.00,1643.00,3302.0,17777.0,1.00,3302.00,3345.0,1.00,21627.0,3345.00
7,1963,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1249.0,NaN,NaN,5952.0,1.00,1249.00,1643.0,11366.0,1.00,1643.00,3302.0,1.00,17777.0,3302.00
8,1964,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,681.0,NaN,NaN,4504.0,1.00,681.00,1249.0,5952.0,1.00,1249.00,1643.0,1.00,11366.0,1643.00
9,1965,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,2018.0,NaN,NaN,13108.0,1.00,2018.00,681.0,4504.0,1.00,681.00,1249.0,1.00,5952.0,1249.00
10,1966,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1366.0,NaN,NaN,8066.0,1.00,1366.00,2018.0,13108.0,1.00,2018.00,681.0,1.00,4504.0,681.00
11,1967,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,336.0,NaN,NaN,1339.0,0.96,322.56,1366.0,8066.0,1.00,1366.00,2018.0,1.00,13108.0,2018.00
12,1968,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,147.0,NaN,NaN,975.0,0.96,141.12,336.0,1339.0,0.96,322.56,1366.0,1.00,8066.0,1366.00
13,1969,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,978.0,NaN,NaN,5753.0,0.96,938.88,147.0,975.0,0.96,141.12,336.0,0.96,1339.0,322.56
14,1970,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1066.0,NaN,NaN,6202.0,0.96,1023.36,978.0,5753.0,0.96,938.88,147.0,0.96,975.0,141.12
15,1971,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,610.0,NaN,NaN,2241.0,0.96,585.60,1066.0,6202.0,0.96,1023.36,978.0,0.96,5753.0,938.88
16,1972,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,150.0,NaN,NaN,1013.0,0.96,144.00,610.0,2241.0,0.96,585.60,1066.0,0.96,6202.0,1023.36
17,1973,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1255.0,NaN,NaN,5614.0,0.96,1204.80,150.0,1013.0,0.96,144.00,610.0,0.96,2241.0,585.60
18,1974,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,108.0,NaN,NaN,573.0,0.96,103.68,1255.0,5614.0,0.96,1204.80,150.0,0.96,1013.0,144.00
19,1975,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,300.0,NaN,NaN,1466.0,0.96,288.00,108.0,573.0,0.96,103.68,1255.0,0.96,5614.0,1204.80
20,1976,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,173.0,NaN,NaN,788.0,0.96,166.08,300.0,1466.0,0.96,288.00,108.0,0.96,573.0,103.68
21,1977,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,113.0,NaN,NaN,541.0,0.96,108.48,173.0,788.0,0.96,166.08,300.0,0.96,1466.0,288.00
22,1978,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,404.0,NaN,NaN,2248.0,0.96,387.84,113.0,541.0,0.96,108.48,173.0,0.96,788.0,166.08
23,1979,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,411.0,NaN,NaN,1682.0,0.96,394.56,404.0,2248.0,0.96,387.84,113.0,0.96,541.0,108.48
24,1980,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,590.0,NaN,NaN,4415.0,0.96,566.40,411.0,1682.0,0.96,394.56,404.0,0.96,2248.0,387.84
25,1981,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,393.0,NaN,NaN,1511.0,0.96,377.28,590.0,4415.0,0.96,566.40,411.0,0.96,1682.0,394.56
26,1982,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,277.0,NaN,NaN,2228.0,0.96,265.92,393.0,1511.0,0.96,377.28,590.0,0.96,4415.0,566.40
27,1983,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,202.0,NaN,NaN,951.0,0.96,193.92,277.0,2228.0,0.96,265.92,393.0,0.96,1511.0,377.28
28,1984,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,238.0,NaN,NaN,996.0,0.96,228.48,202.0,951.0,0.96,193.92,277.0,0.96,2228.0,265.92
29,1985,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1819.0,NaN,NaN,5710.0,0.96,1746.24,238.0,996.0,0.96,228.48,202.0,0.96,951.0,193.92
30,1986,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,736.0,NaN,NaN,2152.0,0.96,706.56,1819.0,5710.0,0.96,1746.24,238.0,0.96,996.0,228.48
31,1987,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,815.0,NaN,NaN,7328.0,0.96,782.40,736.0,2152.0,0.96,706.56,1819.0,0.96,5710.0,1746.24
32,1988,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,870.0,NaN,NaN,4307.0,0.96,835.20,815.0,7328.0,0.96,782.40,736.0,0.96,2152.0,706.56
33,1989,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,668.0,NaN,NaN,2161.0,0.96,641.28,870.0,4307.0,0.96,835.20,815.0,0.96,7328.0,782.40
34,1990,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,557.0,NaN,NaN,1448.0,0.96,534.72,668.0,2161.0,0.96,641.28,870.0,0.96,4307.0,835.20
35,1991,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,747.0,NaN,NaN,1492.0,0.96,717.12,557.0,1448.0,0.96,534.72,668.0,0.96,2161.0,641.28
36,1992,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,580.0,NaN,NaN,1247.0,0.96,556.80,747.0,1492.0,0.96,717.12,557.0,0.96,1448.0,534.72
37,1993,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,323.0,NaN,NaN,583.0,0.96,310.08,580.0,1247.0,0.96,556.80,747.0,0.96,1492.0,717.12
38,1994,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,130.0,NaN,NaN,136.0,0.96,124.80,323.0,583.0,0.96,310.08,580.0,0.96,1247.0,556.80
39,1995,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,190.0,NaN,NaN,113.0,0.96,182.40,130.0,136.0,0.96,124.80,323.0,0.96,583.0,310.08
40,1996,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,408.0,NaN,NaN,215.0,0.96,391.68,190.0,113.0,0.96,182.40,130.0,0.96,136.0,124.80
41,1997,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,305.0,NaN,NaN,283.0,0.96,292.80,408.0,215.0,0.96,391.68,190.0,0.96,113.0,182.40
42,1998,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,290.0,NaN,NaN,299.0,0.96,278.40,305.0,283.0,0.96,292.80,408.0,0.96,215.0,391.68
43,1999,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,180.0,NaN,NaN,145.0,0.96,172.80,290.0,299.0,0.96,278.40,305.0,0.96,283.0,292.80
44,2000,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,388.0,NaN,NaN,284.0,0.96,372.48,180.0,145.0,0.96,172.80,290.0,0.96,299.0,278.40
45,2001,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,543.0,NaN,NaN,428.0,0.96,521.28,388.0,284.0,0.96,372.48,180.0,0.96,145.0,172.80
46,2002,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,460.0,NaN,NaN,431.0,0.96,441.60,543.0,428.0,0.96,521.28,388.0,0.96,284.0,372.48
47,2003,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,193.0,NaN,NaN,63.0,0.96,185.28,460.0,431.0,0.96,441.60,543.0,0.96,428.0,521.28
48,2004,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,700.0,NaN,NaN,347.0,0.96,672.00,193.0,63.0,0.96,185.28,460.0,0.96,431.0,441.60
49,2005,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,308.0,NaN,NaN,78.0,0.95,292.60,700.0,347.0,0.96,672.00,193.0,0.96,63.0,185.28
50,2006,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1043.0,NaN,NaN,340.0,0.96,1001.28,308.0,78.0,0.95,292.60,700.0,0.96,347.0,672.00
51,2007,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,282.0,NaN,NaN,50.0,0.96,270.72,1043.0,340.0,0.96,1001.28,308.0,0.95,78.0,292.60
52,2008,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,983.0,NaN,NaN,421.0,0.96,943.68,282.0,50.0,0.96,270.72,1043.0,0.96,340.0,1001.28
53,2009,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,367.0,NaN,NaN,271.0,0.98,359.66,983.0,421.0,0.96,943.68,282.0,0.96,50.0,270.72
54,2010,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,768.0,NaN,NaN,218.0,0.96,737.28,367.0,271.0,0.98,359.66,983.0,0.96,421.0,943.68

In [6]:
# Scale idependent variables
scaler = MinMaxScaler()
scaled_target = target_df [[
    'Spawners_Prev_Yr', 
    'Eff_Catch_Prev_Yr', 
    'Fracwild_Prev_Yr',
    'Wild_Spawners_Prev_Yr',
    'Spawners_Two_Yrs_Prior',
    'Eff_Catch_Two_Yrs_Prior',
    'Fracwild_Two_Yrs_Prior',
    'Wild_Spawners_Two_Yrs_Prior']].values.tolist()

scaled_data =  scaler.fit_transform(scaled_target)
scaled_data

array([[2.27371023e-01, 2.21439496e-01, 1.00000000e+00, 2.28400775e-01,
        1.67130059e-01, 1.00000000e+00, 1.83018955e-01, 1.68240100e-01],
       [5.48656163e-01, 5.96468462e-01, 1.00000000e+00, 5.49257710e-01,
        2.27371023e-01, 1.00000000e+00, 2.21439496e-01, 2.28400775e-01],
       [7.46061168e-01, 6.75719516e-01, 1.00000000e+00, 7.46399615e-01,
        5.48656163e-01, 1.00000000e+00, 5.96468462e-01, 5.49257710e-01],
       [1.63113994e-01, 1.35236595e-01, 1.00000000e+00, 1.64229388e-01,
        7.46061168e-01, 1.00000000e+00, 6.75719516e-01, 7.46399615e-01],
       [1.95242508e-01, 2.34926079e-01, 1.00000000e+00, 1.96315082e-01,
        1.63113994e-01, 1.00000000e+00, 1.35236595e-01, 1.64229388e-01],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.95242508e-01, 1.00000000e+00, 2.34926079e-01, 1.96315082e-01],
       [9.86716095e-01, 8.21569264e-01, 1.00000000e+00, 9.86733800e-01,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [4.74204510e-01, 5.24447328e-01, 1.00000000e+00, 4.74905286e-01,
        9.86716095e-01, 1.00000000e+00, 8.21569264e-01, 9.86733800e-01],
       [3.52486871e-01, 2.73532002e-01, 1.00000000e+00, 3.53349870e-01,
        4.74204510e-01, 1.00000000e+00, 5.24447328e-01, 4.74905286e-01],
       [1.77015755e-01, 2.06423507e-01, 1.00000000e+00, 1.78112621e-01,
        3.52486871e-01, 1.00000000e+00, 2.73532002e-01, 3.53349870e-01],
       [5.90052518e-01, 6.05181443e-01, 1.00000000e+00, 5.90598892e-01,
        1.77015755e-01, 1.00000000e+00, 2.06423507e-01, 1.78112621e-01],
       [3.88631449e-01, 3.71506697e-01, 1.00000000e+00, 3.89446275e-01,
        5.90052518e-01, 1.00000000e+00, 6.05181443e-01, 5.90598892e-01],
       [7.04355885e-02, 5.97395375e-02, 2.00000000e-01, 6.75280441e-02,
        3.88631449e-01, 1.00000000e+00, 3.71506697e-01, 3.89446275e-01],
       [1.20481928e-02, 4.28697224e-02, 2.00000000e-01, 1.15508497e-02,
        7.04355885e-02, 2.00000000e-01, 5.97395375e-02, 6.75280441e-02],
       [2.68767377e-01, 2.64309218e-01, 2.00000000e-01, 2.57672800e-01,
        1.20481928e-02, 2.00000000e-01, 4.28697224e-02, 1.15508497e-02],
       [2.95953043e-01, 2.85118413e-01, 2.00000000e-01, 2.83736256e-01,
        2.68767377e-01, 2.00000000e-01, 2.64309218e-01, 2.57672800e-01],
       [1.55081866e-01, 1.01543310e-01, 2.00000000e-01, 1.48680167e-01,
        2.95953043e-01, 2.00000000e-01, 2.85118413e-01, 2.83736256e-01],
       [1.29749768e-02, 4.46308569e-02, 2.00000000e-01, 1.24393766e-02,
        1.55081866e-01, 2.00000000e-01, 1.01543310e-01, 1.48680167e-01],
       [3.54340439e-01, 2.57867173e-01, 2.00000000e-01, 3.39713450e-01,
        1.29749768e-02, 2.00000000e-01, 4.46308569e-02, 1.24393766e-02],
       [0.00000000e+00, 2.42387728e-02, 2.00000000e-01, 0.00000000e+00,
        3.54340439e-01, 2.00000000e-01, 2.57867173e-01, 3.39713450e-01],
       [5.93141798e-02, 6.56254345e-02, 2.00000000e-01, 5.68657214e-02,
        0.00000000e+00, 2.00000000e-01, 2.42387728e-02, 0.00000000e+00],
       [2.00803213e-02, 3.42030866e-02, 2.00000000e-01, 1.92514161e-02,
        5.93141798e-02, 2.00000000e-01, 6.56254345e-02, 5.68657214e-02],
       [1.54464010e-03, 2.27557121e-02, 2.00000000e-01, 1.48087816e-03,
        2.00803213e-02, 2.00000000e-01, 3.42030866e-02, 1.92514161e-02],
       [9.14426939e-02, 1.01867730e-01, 2.00000000e-01, 8.76679871e-02,
        1.54464010e-03, 2.00000000e-01, 2.27557121e-02, 1.48087816e-03],
       [9.36051900e-02, 7.56360940e-02, 2.00000000e-01, 8.97412165e-02,
        9.14426939e-02, 2.00000000e-01, 1.01867730e-01, 8.76679871e-02],
       [1.48903306e-01, 2.02298744e-01, 2.00000000e-01, 1.42756655e-01,
        9.36051900e-02, 2.00000000e-01, 7.56360940e-02, 8.97412165e-02],
       [8.80444856e-02, 6.77109886e-02, 2.00000000e-01, 8.44100552e-02,
        1.48903306e-01, 2.00000000e-01, 2.02298744e-01, 1.42756655e-01],
       [5.22088353e-02, 1.00940817e-01, 2.00000000e-01, 5.00536818e-02,
        8.80444856e-02, 2.00000000e-01, 6.77109886e-02, 8.44100552e-02],
       [2.90392339e-02, 4.17574269e-02, 2.00000000e-01, 2.78405094e-02,
        5.22088353e-02, 2.00000000e-01, 1.00940817e-01, 5.00536818e-02],
       [4.01606426e-02, 4.38429810e-02, 2.00000000e-01, 3.85028322e-02,
        2.90392339e-02, 2.00000000e-01, 4.17574269e-02, 2.78405094e-02],
       [5.28575842e-01, 2.62316355e-01, 2.00000000e-01, 5.06756507e-01,
        4.01606426e-02, 2.00000000e-01, 4.38429810e-02, 3.85028322e-02],
       [1.94006796e-01, 9.74185475e-02, 2.00000000e-01, 1.85998297e-01,
        5.28575842e-01, 2.00000000e-01, 2.62316355e-01, 5.06756507e-01],
       [2.18412110e-01, 3.37303610e-01, 2.00000000e-01, 2.09396172e-01,
        1.94006796e-01, 2.00000000e-01, 9.74185475e-02, 1.85998297e-01],
       [2.35403151e-01, 1.97293414e-01, 2.00000000e-01, 2.25685832e-01,
        2.18412110e-01, 2.00000000e-01, 3.37303610e-01, 2.09396172e-01],
       [1.72999691e-01, 9.78356583e-02, 2.00000000e-01, 1.65858354e-01,
        2.35403151e-01, 2.00000000e-01, 1.97293414e-01, 2.25685832e-01],
       [1.38708681e-01, 6.47912129e-02, 2.00000000e-01, 1.32982859e-01,
        1.72999691e-01, 2.00000000e-01, 9.78356583e-02, 1.65858354e-01],
       [1.97405005e-01, 6.68304213e-02, 2.00000000e-01, 1.89256229e-01,
        1.38708681e-01, 2.00000000e-01, 6.47912129e-02, 1.32982859e-01],
       [1.45814025e-01, 5.54757381e-02, 2.00000000e-01, 1.39794898e-01,
        1.97405005e-01, 2.00000000e-01, 6.68304213e-02, 1.89256229e-01],
       [6.64195243e-02, 2.47022292e-02, 2.00000000e-01, 6.36777609e-02,
        1.45814025e-01, 2.00000000e-01, 5.54757381e-02, 1.39794898e-01],
       [6.79641643e-03, 3.98572554e-03, 2.00000000e-01, 6.51586391e-03,
        6.64195243e-02, 2.00000000e-01, 2.47022292e-02, 6.36777609e-02],
       [2.53320976e-02, 2.91977569e-03, 2.00000000e-01, 2.42864018e-02,
        6.79641643e-03, 2.00000000e-01, 3.98572554e-03, 6.51586391e-03],
       [9.26784059e-02, 7.64703156e-03, 2.00000000e-01, 8.88526896e-02,
        2.53320976e-02, 2.00000000e-01, 2.91977569e-03, 2.42864018e-02],
       [6.08588199e-02, 1.07985355e-02, 2.00000000e-01, 5.83465995e-02,
        9.26784059e-02, 2.00000000e-01, 7.64703156e-03, 8.88526896e-02],
       [5.62248996e-02, 1.15400658e-02, 2.00000000e-01, 5.39039651e-02,
        6.08588199e-02, 2.00000000e-01, 1.07985355e-02, 5.83465995e-02],
       [2.22428174e-02, 4.40283635e-03, 2.00000000e-01, 2.13246455e-02,
        5.62248996e-02, 2.00000000e-01, 1.15400658e-02, 5.39039651e-02],
       [8.64998455e-02, 1.08448811e-02, 2.00000000e-01, 8.29291770e-02,
        2.22428174e-02, 2.00000000e-01, 4.40283635e-03, 2.13246455e-02],
       [1.34383689e-01, 1.75186541e-02, 2.00000000e-01, 1.28836400e-01,
        8.64998455e-02, 2.00000000e-01, 1.08448811e-02, 8.29291770e-02],
       [1.08742663e-01, 1.76576911e-02, 2.00000000e-01, 1.04253823e-01,
        1.34383689e-01, 2.00000000e-01, 1.75186541e-02, 1.28836400e-01],
       [2.62588817e-02, 6.02493396e-04, 2.00000000e-01, 2.51749287e-02,
        1.08742663e-01, 2.00000000e-01, 1.76576911e-02, 1.04253823e-01],
       [1.82885388e-01, 1.37646568e-02, 2.00000000e-01, 1.75335974e-01,
        2.62588817e-02, 2.00000000e-01, 6.02493396e-04, 2.51749287e-02],
       [6.17856040e-02, 1.29767808e-03, 0.00000000e+00, 5.82848963e-02,
        1.82885388e-01, 2.00000000e-01, 1.37646568e-02, 1.75335974e-01],
       [2.88847698e-01, 1.34402373e-02, 2.00000000e-01, 2.76924216e-01,
        6.17856040e-02, 0.00000000e+00, 1.29767808e-03, 5.82848963e-02],
       [5.37534754e-02, 0.00000000e+00, 2.00000000e-01, 5.15345600e-02,
        2.88847698e-01, 2.00000000e-01, 1.34402373e-02, 2.76924216e-01],
       [2.70312017e-01, 1.71942346e-02, 2.00000000e-01, 2.59153678e-01,
        5.37534754e-02, 2.00000000e-01, 0.00000000e+00, 5.15345600e-02],
       [8.00123571e-02, 1.02423877e-02, 6.00000000e-01, 7.89739982e-02,
        2.70312017e-01, 2.00000000e-01, 1.71942346e-02, 2.59153678e-01]])

In [7]:
# Create DatsFrame with scaled data
scaled_df = pd.DataFrame(
    data=scaled_data,
    columns=['Spawners_Prev_Yr_Sc', 
        'Eff_Catch_Prev_Yr_Sc', 
        'Fracwild_Prev_Yr_Sc',
        'Wild_Spawners_Prev_Yr_Sc',
        'Spawners_Two_Yrs_Prior_Sc',
        'Eff_Catch_Two_Yrs_Prior_Sc',
        'Fracwild_Two_Yrs_Prior_Sc',
        'Wild_Spawners_Two_Yrs_Prior_Sc'],
        index=target_df.index)

In [8]:
# Delete columns of unscaled independent variables
target_df.drop(columns = [
    'Spawners_Prev_Yr', 
    'Eff_Catch_Prev_Yr', 
    'Fracwild_Prev_Yr',
    'Wild_Spawners_Prev_Yr',
    'Spawners_Two_Yrs_Prior',
    'Eff_Catch_Two_Yrs_Prior',
    'Fracwild_Two_Yrs_Prior',
    'Wild_Spawners_Two_Yrs_Prior'],
    inplace=True)

# Combine target_df and scaled_df
scaled_target_df = pd.merge(target_df, scaled_df, left_index=True, right_index=True)
scaled_target_df.head()

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Wild_Spawners,Spawners_Prev_Yr_Sc,Eff_Catch_Prev_Yr_Sc,Fracwild_Prev_Yr_Sc,Wild_Spawners_Prev_Yr_Sc,Spawners_Two_Yrs_Prior_Sc,Eff_Catch_Two_Yrs_Prior_Sc,Fracwild_Two_Yrs_Prior_Sc,Wild_Spawners_Two_Yrs_Prior_Sc
0,1956,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,1884.0,NaN,NaN,12920.0,1.0,1884.0,0.227371,0.221439,1.0,0.228401,0.167130,1.0,0.183019,0.168240
1,1957,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,2523.0,NaN,NaN,14630.0,1.0,2523.0,0.548656,0.596468,1.0,0.549258,0.227371,1.0,0.221439,0.228401
2,1958,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,636.0,NaN,NaN,2968.0,1.0,636.0,0.746061,0.675720,1.0,0.746400,0.548656,1.0,0.596468,0.549258
3,1959,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,740.0,NaN,NaN,5119.0,1.0,740.0,0.163114,0.135237,1.0,0.164229,0.746061,1.0,0.675720,0.746400
4,1960,Chinook Salmon (Puget Sound ESU) - Upper Sauk ...,3345.0,NaN,NaN,21627.0,1.0,3345.0,0.195243,0.234926,1.0,0.196315,0.163114,1.0,0.135237,0.164229

In [9]:
# Create our Feature
X = scaled_target_df.drop(columns = ['Nwr_Population_Name', 'Start_Year', 'End_Year', 'Effective_Catch', 'Fracwild', 'Number_Of_Spawners', 'Wild_Spawners'])

# Create our Target
y = scaled_target_df['Wild_Spawners']

In [10]:
# Split data into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
#Counter(y_train)

In [11]:
# Set up a regression ML model
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

In [13]:
# Score the model
print("Coefficients: \n", regr.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# Square root of the mean squared
print('Root Mean Squared error of is:',np.sqrt(mean_squared_error(y_test,y_pred)))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [-9.52829901e+00 -3.07919857e+04  1.73190996e+03  6.95253068e+02
  3.12185366e+04  4.39034391e+04  9.27255302e+02 -3.26468933e+03
 -4.32640743e+04]
Mean squared error: 267611.05
Root Mean Squared error of is: 517.3113700618229
Coefficient of determination: -1.97