In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, balanced_accuracy_score 
import psycopg2
from sqlalchemy import create_engine
import time

In [2]:
# pgAdmnin interface
# create dbstring
db_string = f"postgresql://salmonteam:Napapa1215$@salmonanalysis.cs4hgx1gpbbz.us-east-1.rds.amazonaws.com:5432/postgres"

In [3]:
# create engine
engine = create_engine(db_string)

In [4]:
# connect table to notebook
connection = engine.connect()

# create dataframe

df = pd.read_sql("SELECT * FROM preprocessed_salmon_data", connection)
df = df.drop('index', 1)

df.head()

C:\Users\atlea\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Fracwild,Wild_Spawners,Wild_Spawners_Prev_Yr,Wild_Spawners_Two_Yrs_Prior,Wild_Spawners_Three_Yrs_Prior
0,1978,Chinook Salmon (Snake River Fall-run ESU) - Sn...,640.0,1.0,640.0,600.0,470.0,1000.0
1,1979,Chinook Salmon (Snake River Fall-run ESU) - Sn...,500.0,1.0,500.0,640.0,600.0,470.0
2,1980,Chinook Salmon (Snake River Fall-run ESU) - Sn...,450.0,1.0,450.0,500.0,640.0,600.0
3,1981,Chinook Salmon (Snake River Fall-run ESU) - Sn...,340.0,1.0,340.0,450.0,500.0,640.0
4,1982,Chinook Salmon (Snake River Fall-run ESU) - Sn...,720.0,1.0,720.0,340.0,450.0,500.0

In [5]:
# Isolate the Stream we want to teach the model on and reset index
target_df = df.loc[df['Nwr_Population_Name'] == 'Chinook Salmon (Snake River Spring/Summer-run ESU) - Imnaha River Mainstem']
target_df.reset_index(drop=True, inplace=True)
target_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Brood_Year                     63 non-null     int64
 1   Nwr_Population_Name            63 non-null     object
 2   Number_Of_Spawners             63 non-null     float64
 3   Fracwild                       63 non-null     float64
 4   Wild_Spawners                  63 non-null     float64
 5   Wild_Spawners_Prev_Yr          63 non-null     float64
 6   Wild_Spawners_Two_Yrs_Prior    63 non-null     float64
 7   Wild_Spawners_Three_Yrs_Prior  63 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 4.1+ KB

In [6]:
# Delete first three rows and reset index
target_df = target_df.drop(target_df.index[[0,1,3]])
target_df.reset_index(drop=True, inplace=True)

In [7]:
# Create our Feature for target_df
X = target_df[['Wild_Spawners_Prev_Yr', 'Wild_Spawners_Two_Yrs_Prior', 'Wild_Spawners_Three_Yrs_Prior']]
# Create our Target
y = target_df['Wild_Spawners']

In [8]:
# Split data into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=28, test_size =0.2)
#Counter(y_train)

In [9]:
# Set up a regression ML model
# Create linear regression object
l_regr = linear_model.LinearRegression()

# Train the model using the training sets
l_regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = l_regr.predict(X_test)

In [10]:
# Adding predictions to DataFrame
# Create a variable to hold features
X_predict_target = target_df[['Wild_Spawners_Prev_Yr', 'Wild_Spawners_Two_Yrs_Prior', 'Wild_Spawners_Three_Yrs_Prior']]

# Predict adding features
target_df_predictions = l_regr.predict(X_predict_target)

# Add column to dataframe with predictions
predict_df = target_df
predict_df['Predicted_Wild_Spawners'] = target_df_predictions

In [11]:
# Creating Number of Wild Spawners column
predict_df["Hatchery_Spawners"] = predict_df["Number_Of_Spawners"] * (1 - predict_df["Fracwild"])

predict_df.tail()

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Fracwild,Wild_Spawners,Wild_Spawners_Prev_Yr,Wild_Spawners_Two_Yrs_Prior,Wild_Spawners_Three_Yrs_Prior,Predicted_Wild_Spawners,Hatchery_Spawners
55,2007,Chinook Salmon (Snake River Spring/Summer-run ...,737.0,0.21,154.77,225.37,261.80,511.70,586.509042,582.23
56,2008,Chinook Salmon (Snake River Spring/Summer-run ...,1996.0,0.14,279.44,154.77,225.37,261.80,541.143887,1716.56
57,2009,Chinook Salmon (Snake River Spring/Summer-run ...,1962.0,0.22,431.64,279.44,154.77,225.37,541.332693,1530.36
58,2010,Chinook Salmon (Snake River Spring/Summer-run ...,2743.0,0.27,740.61,130.80,458.25,7009.78,986.436659,2002.39
59,2011,Chinook Salmon (Snake River Spring/Summer-run ...,2266.0,0.39,883.74,134.20,585.90,11234.31,1262.394712,1382.26

In [12]:
# # Create a csv 
predict_df.to_csv('Data/wild_v_hatch_prod.csv',index=False)

In [13]:
# read into SQL
rows_imported = 0
start_time = time.time()
for data in pd.read_csv(f'Data/wild_v_hatch_prod.csv', chunksize=10000):
    
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='wild_v_hatch_prod', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')