In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# pgAdmnin interface

In [3]:
# Pull in Data
df = pd.read_csv('Data/salmon_pre_processed.csv')
df.head()

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr
0,1976,Chinook Salmon (Snake River Fall-run ESU) - Sn...,470.0,1975.0,2008.0,617.0,1.0,1000.0,1851.0,1.0
1,1977,Chinook Salmon (Snake River Fall-run ESU) - Sn...,600.0,1975.0,2008.0,1097.0,1.0,470.0,617.0,1.0
2,1978,Chinook Salmon (Snake River Fall-run ESU) - Sn...,640.0,1975.0,2008.0,1011.0,1.0,600.0,1097.0,1.0
3,1979,Chinook Salmon (Snake River Fall-run ESU) - Sn...,500.0,1975.0,2008.0,514.0,1.0,640.0,1011.0,1.0
4,1980,Chinook Salmon (Snake River Fall-run ESU) - Sn...,450.0,1975.0,2008.0,159.0,1.0,500.0,514.0,1.0

In [4]:
# Isolate the Stream we want to teach the model on and reset index
target_df = df.loc[df['Nwr_Population_Name'] == 'Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal']
target_df.reset_index(drop=True, inplace=True)

# Delete first row and reset index
target_df = target_df.drop(target_df.index[0])
target_df.reset_index(drop=True, inplace=True)
target_df

,Brood_Year,Nwr_Population_Name,Number_Of_Spawners,Start_Year,End_Year,Effective_Catch,Fracwild,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr
0,1971,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,1340.0,NaN,NaN,8467.0,0.73,1157.0,7187.0,0.79
1,1972,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,551.0,NaN,NaN,2779.0,0.77,1340.0,8467.0,0.73
2,1973,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,913.0,NaN,NaN,6988.0,0.77,551.0,2779.0,0.77
3,1974,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,347.0,NaN,NaN,1278.0,0.77,913.0,6988.0,0.77
4,1975,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,954.0,NaN,NaN,4596.0,0.78,347.0,1278.0,0.77
5,1976,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,347.0,NaN,NaN,1144.0,0.49,954.0,4596.0,0.78
6,1977,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,735.0,NaN,NaN,5176.0,0.67,347.0,1144.0,0.49
7,1978,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,56.0,NaN,NaN,519.0,0.53,735.0,5176.0,0.67
8,1979,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,676.0,NaN,NaN,11906.0,0.71,56.0,519.0,0.53
9,1980,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,245.0,NaN,NaN,3627.0,0.72,676.0,11906.0,0.71
10,1981,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,175.0,NaN,NaN,2524.0,0.89,245.0,3627.0,0.72
11,1982,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,135.0,NaN,NaN,691.0,0.73,175.0,2524.0,0.89
12,1983,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,602.0,NaN,NaN,12235.0,0.73,135.0,691.0,0.73
13,1984,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,712.0,NaN,NaN,7644.0,0.74,602.0,12235.0,0.73
14,1985,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,1553.0,NaN,NaN,9839.0,0.75,712.0,7644.0,0.74
15,1986,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,45.0,NaN,NaN,477.0,0.70,1553.0,9839.0,0.75
16,1987,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,111.0,NaN,NaN,413.0,0.88,45.0,477.0,0.70
17,1988,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,128.0,NaN,NaN,492.0,0.72,111.0,413.0,0.88
18,1989,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,118.0,NaN,NaN,1750.0,0.88,128.0,492.0,0.72
19,1990,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,57.0,NaN,NaN,567.0,0.60,118.0,1750.0,0.88
20,1991,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,87.0,NaN,NaN,604.0,0.82,57.0,567.0,0.60
21,1992,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,123.0,NaN,NaN,1391.0,0.73,87.0,604.0,0.82
22,1993,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,122.0,NaN,NaN,1050.0,0.88,123.0,1391.0,0.73
23,1994,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,385.0,NaN,NaN,1061.0,0.90,122.0,1050.0,0.88
24,1995,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,119.0,NaN,NaN,122.0,0.89,385.0,1061.0,0.90
25,1996,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,40.0,NaN,NaN,14.0,0.87,119.0,122.0,0.89
26,1997,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,211.0,NaN,NaN,155.0,0.91,40.0,14.0,0.87
27,1998,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,306.0,NaN,NaN,73.0,0.75,211.0,155.0,0.91
28,1999,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,936.0,NaN,NaN,378.0,0.79,306.0,73.0,0.75
29,2000,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,445.0,NaN,NaN,602.0,0.66,936.0,378.0,0.79
30,2001,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,343.0,NaN,NaN,443.0,0.70,445.0,602.0,0.66
31,2002,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,107.0,NaN,NaN,425.0,0.88,343.0,443.0,0.70
32,2003,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,199.0,NaN,NaN,186.0,0.82,107.0,425.0,0.88
33,2004,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,133.0,NaN,NaN,88.0,0.87,199.0,186.0,0.82
34,2005,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,46.0,NaN,NaN,30.0,0.98,133.0,88.0,0.87
35,2006,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,41.0,NaN,NaN,24.0,0.85,46.0,30.0,0.98
36,2007,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,76.0,NaN,NaN,52.0,0.59,41.0,24.0,0.85
37,2008,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,278.0,NaN,NaN,102.0,0.40,76.0,52.0,0.59
38,2009,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,157.0,NaN,NaN,21.0,0.23,278.0,102.0,0.40
39,2010,Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal,83.0,NaN,NaN,10.0,0.37,157.0,21.0,0.23

In [5]:
# Split stream name and year
pop_name = target_df.filter(['Brood_Year', 'Nwr_Population_Name'], axis=1)
pop_name.head()

   Brood_Year                                Nwr_Population_Name
0        1971  Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal
1        1972  Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal
2        1973  Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal
3        1974  Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal
4        1975  Chinook Salmon (Puget Sound ESU) - Mid-Hood Canal

In [6]:
target_df = target_df.drop(['Nwr_Population_Name', 'Start_Year', 'End_Year'], axis=1)
target_df

,Brood_Year,Number_Of_Spawners,Effective_Catch,Fracwild,Spawners_Prev_Yr,Eff_Catch_Prev_Yr,Fracwild_Prev_Yr
0,1971,1340.0,8467.0,0.73,1157.0,7187.0,0.79
1,1972,551.0,2779.0,0.77,1340.0,8467.0,0.73
2,1973,913.0,6988.0,0.77,551.0,2779.0,0.77
3,1974,347.0,1278.0,0.77,913.0,6988.0,0.77
4,1975,954.0,4596.0,0.78,347.0,1278.0,0.77
5,1976,347.0,1144.0,0.49,954.0,4596.0,0.78
6,1977,735.0,5176.0,0.67,347.0,1144.0,0.49
7,1978,56.0,519.0,0.53,735.0,5176.0,0.67
8,1979,676.0,11906.0,0.71,56.0,519.0,0.53
9,1980,245.0,3627.0,0.72,676.0,11906.0,0.71
10,1981,175.0,2524.0,0.89,245.0,3627.0,0.72
11,1982,135.0,691.0,0.73,175.0,2524.0,0.89
12,1983,602.0,12235.0,0.73,135.0,691.0,0.73
13,1984,712.0,7644.0,0.74,602.0,12235.0,0.73
14,1985,1553.0,9839.0,0.75,712.0,7644.0,0.74
15,1986,45.0,477.0,0.70,1553.0,9839.0,0.75
16,1987,111.0,413.0,0.88,45.0,477.0,0.70
17,1988,128.0,492.0,0.72,111.0,413.0,0.88
18,1989,118.0,1750.0,0.88,128.0,492.0,0.72
19,1990,57.0,567.0,0.60,118.0,1750.0,0.88
20,1991,87.0,604.0,0.82,57.0,567.0,0.60
21,1992,123.0,1391.0,0.73,87.0,604.0,0.82
22,1993,122.0,1050.0,0.88,123.0,1391.0,0.73
23,1994,385.0,1061.0,0.90,122.0,1050.0,0.88
24,1995,119.0,122.0,0.89,385.0,1061.0,0.90
25,1996,40.0,14.0,0.87,119.0,122.0,0.89
26,1997,211.0,155.0,0.91,40.0,14.0,0.87
27,1998,306.0,73.0,0.75,211.0,155.0,0.91
28,1999,936.0,378.0,0.79,306.0,73.0,0.75
29,2000,445.0,602.0,0.66,936.0,378.0,0.79
30,2001,343.0,443.0,0.70,445.0,602.0,0.66
31,2002,107.0,425.0,0.88,343.0,443.0,0.70
32,2003,199.0,186.0,0.82,107.0,425.0,0.88
33,2004,133.0,88.0,0.87,199.0,186.0,0.82
34,2005,46.0,30.0,0.98,133.0,88.0,0.87
35,2006,41.0,24.0,0.85,46.0,30.0,0.98
36,2007,76.0,52.0,0.59,41.0,24.0,0.85
37,2008,278.0,102.0,0.40,76.0,52.0,0.59
38,2009,157.0,21.0,0.23,278.0,102.0,0.40
39,2010,83.0,10.0,0.37,157.0,21.0,0.23

In [7]:
# Create our Feature
X = target_df.drop(columns="Number_Of_Spawners")

# Create our Target
y = target_df["Number_Of_Spawners"]

In [8]:
# Split data into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
#Counter(y_train)

In [9]:
# Set up a regression ML model
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

In [10]:
# Score the model
print("Coefficients: \n", regr.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# Square root of the mean squared
print('Root Mean Squared error of is:',np.sqrt(mean_squared_error(y_test,y_pred)))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [ 2.94041448e+00  8.47371439e-02  4.94649150e+01  4.19174785e-01
 -2.44296943e-02  8.90366821e+01]
Mean squared error: 9094.57
Root Mean Squared error of is: 95.36543884723007
Coefficient of determination: 0.85

In [11]:
# year = target_df.Brood_Year.values.reshape(-1, 1)

In [12]:
# plt.scatter(year, y)
# plt.plot(year, y_pred, color='red')
# plt.show()